block variables
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Описание при выдаче в поисковике. нужно для seo.")
	meta(name="author" content="Имя автора интернет страницы (если это организация, вместо author- copyright")

	// Name/icon
	title Starter Template for Bootstrap
	link(rel="icon" href="#")

	// Custom styles for CSS
	link(href="css/main.css" rel="stylesheet")
	link(href="css/normalize.css" rel="stylesheet")
	link(href="css/smart-grid.css" rel="stylesheet")
	link(href="css/start.css" rel="stylesheet")

	// Custom styles for FONTS
	//- link(href="..." rel="stylesheet")

	// Bootstrap core CSS
	link(href="css/bootstrap-grid.min.css" rel="stylesheet")





