block variables
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(name="description" content="Описание при выдаче в поисковике. нужно для seo.")
	meta(name="author" content="Имя автора интернет страницы (если это организация, вместо author- copyright")

	// Name/icon
	title Starter Template for Bootstrap
	link(rel="icon" href="img/favicon.png")

	// Custom styles for CSS
	link(href="css/main.css" rel="stylesheet")
	link(href="css/media.css" rel="stylesheet")
	link(href="css/normalize.css" rel="stylesheet")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")

	// Custom styles for FONTS
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800|Rubik:300,400,900&display=swap&subset=cyrillic")

	// Bootstrap core CSS
	link(href="css/bootstrap-grid.min.css" rel="stylesheet")