doctype html
html(lang="ru")
	include _includes/_header
	block variables
		body
			header
				.container

			section
				.container

			section
				.container

			footer
				.container

			include _includes/_footer
